/* line 1, C:/Users/texte/Documents/Portfolio/Flashcards-react/flashcards-react/src/scss/Flashcards.scss */
#flashcard_header {
  text-align: center;
}

/* line 5, C:/Users/texte/Documents/Portfolio/Flashcards-react/flashcards-react/src/scss/Flashcards.scss */
#flashcard_display {
  height: 60vh !important;
  text-align: center;
}

/* line 10, C:/Users/texte/Documents/Portfolio/Flashcards-react/flashcards-react/src/scss/Flashcards.scss */
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: .25em;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 34, C:/Users/texte/Documents/Portfolio/Flashcards-react/flashcards-react/src/scss/Flashcards.scss */
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 59, C:/Users/texte/Documents/Portfolio/Flashcards-react/flashcards-react/src/scss/Flashcards.scss */
#nav-left {
  position: relative;
  width: 6em;
  opacity: 0.5;
  filter: alpha(opacity=50);
  fill: blue;
  left: 20vh;
}

/* line 49, C:/Users/texte/Documents/Portfolio/Flashcards-react/flashcards-react/src/scss/Flashcards.scss */
#nav-left:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* line 53, C:/Users/texte/Documents/Portfolio/Flashcards-react/flashcards-react/src/scss/Flashcards.scss */
#nav-left:active {
  fill: lightyellow;
  opacity: 0.5;
  filter: alpha(opacity=80);
}

/* line 63, C:/Users/texte/Documents/Portfolio/Flashcards-react/flashcards-react/src/scss/Flashcards.scss */
#nav-right {
  position: relative;
  width: 6em;
  opacity: 0.5;
  filter: alpha(opacity=50);
  fill: blue;
  left: -20vh;
}

/* line 49, C:/Users/texte/Documents/Portfolio/Flashcards-react/flashcards-react/src/scss/Flashcards.scss */
#nav-right:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* line 53, C:/Users/texte/Documents/Portfolio/Flashcards-react/flashcards-react/src/scss/Flashcards.scss */
#nav-right:active {
  fill: lightyellow;
  opacity: 0.5;
  filter: alpha(opacity=80);
}

/* line 69, C:/Users/texte/Documents/Portfolio/Flashcards-react/flashcards-react/src/scss/Flashcards.scss */
.bottomButtons {
  align-items: center;
  text-align: center;
}

/* line 74, C:/Users/texte/Documents/Portfolio/Flashcards-react/flashcards-react/src/scss/Flashcards.scss */
.flip {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

/* line 96, C:/Users/texte/Documents/Portfolio/Flashcards-react/flashcards-react/src/scss/Flashcards.scss */
#definition {
  background-color: beige !important;
}

/* line 100, C:/Users/texte/Documents/Portfolio/Flashcards-react/flashcards-react/src/scss/Flashcards.scss */
#term {
  position: relative;
  top: -60vh;
  background-color: ghostwhite !important;
}

/*# sourceMappingURL=../css/Flashcards.map */